.test-component {
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 1rem;
    border: 2px dashed #ccc;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 10px;
    width: 100%;
}
