#storybook-root {
    min-width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    &.storybook__layout--flexColumn {
        padding: 1rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}
